.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/img-bg.png);
  background-size: 100% 100%;
  width: 17em;
  max-height: 100%;
  padding: 2em 1em;
  flex-shrink: 0;
  animation: fadeIn 1s ease-in-out;
}

.dayTitle {
  font-family: var(--font-accent), Helvetica, sans-serif;
  font-size: 35px;
}

.date {
  font-size: 2em;
  margin: 0.3em;
  text-align: center;
  font-family: var(--font-title);
}

.number {
  font-size: 2em;
  line-height: 70%;
  padding: 0.1em 0.7em;
  background-image: url("/curl-left.svg"), url("/curl-right.svg");
  background-repeat: no-repeat;
  background-size: 0.7em;
  background-position: bottom 30% left, bottom 30% right;
}

.imageContainer {
  width: 100%;
  height: 16em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dayImage {
  animation: fadeIn 1s ease-in-out;
  object-fit: contain;
}

.description {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  animation: fadeIn 1s ease-in-out;
  word-break: break-word;
}

.content {
  margin-top: 1em;
  flex: 1;
  max-height: 100%;
  max-width: 1000px;
  overflow: auto;
  white-space: normal;
  padding-right: 0.5em;
}

.content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #7d551a95;
  border-radius: 2px;
}

.content::-webkit-scrollbar-track {
  background-color: #fbe0ae;
  border-radius: 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 450px) {
  .calendar {
    width: 100%;
  }

  .description {
    background-image: url(/page-bg-portret.png);
    background-size: 100% 100%;
    padding: 1em;
    width: 100%;
    min-height: 10em;
  }
}
