:root {
  --font-main-color: #291c0e;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--font-main-color);
  background-image: url(/bg.jpg);
  font-family: var(--font-main-text), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

blockquote {
  margin-left: 0.8em;
  border-left: solid 8px #7c613959;
  padding-left: 0.5em;
}
