.page {
  padding: 0.5em 1em;
  margin: 0;
  height: 100vh;
}

.main {
  background-image: url(/page-bg.png);
  background-size: 100% 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 32px;
  height: 93%;
  padding: 3em;
}

@media (max-width: 900px) {
  .page {
    height: auto;
    padding: 0.5em;
  }

  .main {
    flex-wrap: wrap;
    background-image: url(/page-bg-portret.png);
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .main {
    padding: 0;
    background-image: none;
    gap: 0.5em;
  }
}
