.page {
  padding: 0.5em 1em;
  margin: 0;
  height: 100vh;
}

.main {
  background-image: url(/page-bg.png);
  background-size: 100% 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 32px;
  height: 93%;
  padding: 3em;
}

.title {
  font-family: var(--font-accent), Helvetica, sans-serif;
  color: #fff196;
  letter-spacing: 0.2em;
  font-weight: 100;
  line-height: 1;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 0.5em;
  text-shadow: 2px 2px 4px rgb(41 31 0 / 88%);
  font-size: 30px;
}

@media (max-width: 900px) {
  .page {
    height: auto;
    padding: 0.5em;
  }

  .main {
    flex-wrap: wrap;
    background-image: url(/page-bg-portret.png);
    text-align: center;
  }
}

@media (max-width: 450px) {
  .main {
    padding: 0;
    background-image: none;
    gap: 0.5em;
  }
}
